<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
</div>
<div class="container">
<h3>All events will be displayed here... eventually</h3>
  <ul>
    <%@all_events.each do |event|%>
      <li> <a href="/event/<%=event.name%>"><%=event.name%></a></li>
    <%end%>
  </ul>
</div>
